<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ODDBITChat_Project.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27889B301E7AB664007EEC02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27889B441E7AB664007EEC02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27889B4F1E7AB664007EEC02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
